@charset "UTF-8";

body{
	margin: 0px;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif, 'Malgun Gothic','Roboto', Dotum, '돋움', Gulim,Helvetica;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/test3.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    -ms-word-break: keep-all;
    word-break: keep-all;
    font-size: 17px;
    width: 100%
}

/* 네비게이션바 */
.nav_var {
	position: fixed;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav_var_text {
    background: rgba(0,0,0,.6);
    color: #fff;
    height: 64px;
    width: 800px;
    border-radius: 2px 2px 30px 30px;
}

.nav_var ul {
    list-style: none;
    margin: 0;
}

.nav_var_text_li {
    margin-right: 3rem;
    padding: 1.5rem;
    float: right;
    border: 0;
    cursor: pointer;
    opacity: .6;
}

/* 헤더 */
.portfollo_header {
    text-align: center;
}

.portfollo_header_text {
	margin: 0 300px 300px 300px;
    padding-top: 280px;
}

.portfollo_header_text_title {
	font-size: 45px;
	color: white;
	font-weight: 900;
}

.portfollo_header_text hr {
	width: 8rem;
    height: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: none;
    border-top: .2rem solid #0cfaff;
}

.portfollo_header_text_greet {
	color: hsla(0,0%,100%,.75);
	line-height: 35px;
	font-size: 20px;
}

/* about */
.about {
	background-color: #fff;
}

.about_box {
	margin: 0 auto;
    padding: 4rem 2rem;
    width: 100%;
    max-width: 71.25rem;
}

.about_box_box {
	display: flex;
	justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.about_content {
	display: flex;
	width: 33.3333%;
	align-items: center;
	justify-content: center;
}

.about_content2 {
	font-weight: 600;
    font-size: 1.25rem;
    margin: 0 0 10px 15px;
}

.about_content3 {
	margin: 0 0 0 15px;
	width: 200px;
}

.about_text {
	text-align: left;
	width: 50%;
	margin: 0px 30%;
	padding-top: 20px;
}

/* 프로필 */
.title {
	text-align: center;
	margin: 0px;
	font-size: 35px;
	color: #555555;
	padding: 20px 0px;
}

.profile {
	background-color: #e2e2e2;
}

.profile_aboutMe_area {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 200px;
	padding-bottom: 60px;
}

.profile_aboutMe_area_img {
	width : 30%;
	height: 400px;
	margin-right: 8%;
}

.profile_aboutMe_area_text {
	width : 40%;
	height: 400px;
	display: flex;
    align-items: center;
}

.division {
    margin: 15px 0px;
    background: #666666;
    height: 1px;
}

.institution {
	font-weight: 600;
}

.date {
	padding-left : 8px;
	color: #aaaaaa
}

.content {
	color: #686868;
}

.profile_img {
	width: 100%;
    height: 100%;
    border-radius: 40%;
}

/* 스킬 */
.skill {
	background-color: #ffe48f;
	height: 1000px;
}

.skill .skill_box {
	display: flex;
    flex-flow: column wrap;
    align-content: center;
    height: calc(100% - (7.5rem + 1px));
    justify-content: center;
}

.skill_icon {
	margin : 0px 15px 20px 15px;
	width: 130px;
	height: 110px;
}

.skill_content {
	border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
    -webkit-box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
    width: 17rem;
    margin: 0px 20px 30px 20px;
    padding: 0 30px;
}

.skill_content_title {
	text-align: center;
	color: #555555;
	font-weight: 600;
}

.project_imgbox1, .project_imgbox2, .project_imgbox3 {
	overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0 3% 5% 0%;
}

.pc_img {
	width: 800px;
}

.project_imgbox1:nth-child(1):after {
    content: "";
    position: absolute;
    transform: translateX(-108%);
    top: 42.5px;
    width: 689px;
    height: 390px;
    background: url(../images/suhbuway.png);
    background-size: cover;
}
.project_imgbox2:nth-child(1):after {
    content: "";
    position: absolute;
    transform: translateX(-108%);
    top: 42.5px;
    width: 689px;
    height: 390px;
    background: url(../images/virtualairtravel.png);
    background-size: cover;
}
.project_imgbox3:nth-child(1):after {
    content: "";
    position: absolute;
    transform: translateX(-108%);
    top: 42.5px;
    width: 689px;
    height: 390px;
    background: url(../images/movie.png);
    background-size: cover;
}

.project_box .project_textbox {
	width: 500px; line-height: 30px; font-size: 15px;
}

.project_box .project_textbox button {
	width: 170px;
	height: 50px;
	border-image: linear-gradient(140deg, #926ab1 0%, #d68cd6 100%);
	border-image-slice: 1;
	margin-left: 5px;
	background-color: #e2e2e2;
}

.project_box .project_textbox button:hover {
	border: 0;
	background-image: linear-gradient(140deg, #926ab1 0%, #d68cd6 100%);
	color:#fff;
	cursor: pointer;
}

.project_box {
	display: flex;
	justify-content: center;
}

.project_textbox_title {
	color: #767676;
    font-weight: 900;
    font-size: 25px;
}

.footer {
	height: 8rem;
    padding-top: 3rem;
    background-color: #222;
    text-align: center;
}

.footer_icon_box {
	margin-bottom: 1rem;
}

.footer_icon {
	position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: 2px;
    margin: 0 .5rem;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #fff;
}

.Footer_icon_img {
	width: 100%;
}

.footer_copyright {
	font-weight: 400;
    font-size: .9rem;
    color: #f5f5f5;
}

